<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e_wayalerts"
    >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/eway_alert_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/eway_alert_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.EWayAlerts"
        >
        <activity
            android:name=".activity.loginmodule.LanguageActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.EWayAlerts.NoActionBar"
            />
        <activity
            android:name=".activity.loginmodule.SetPinActivity"
            android:exported="true"
            />
        <activity
            android:name=".activity.loginmodule.OTPVerificationActivity"
            android:exported="true"
            />
        <activity
            android:name=".activity.loginmodule.ResetPinActivity"
            android:exported="true"
            />
        <activity
            android:name=".activity.loginmodule.SignupActivity"
            android:exported="true"
            />
        <activity
            android:name=".activity.loginmodule.LoginActivity"
            android:exported="true"
            />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>